<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enter Numbers</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>BST Builder</h1>
    <form action="/process-numbers" method="post">
        <label for="numbers">Enter numbers (use commas between #'s or she aint workin):</label>
        <input type="text" id="numbers" name="numbers" placeholder="e.g., 5, 3, 8, 1, 4">
        <label for="balanced">
          <input type="checkbox" id="balanced" name="balanced" value="true"> balance?
        </label>
        <button type="submit">Submit</button>
    </form>
    <form action="/previous-trees" method="get">
        <button type="submit">Show Previous Trees</button>
    </form>
  </div>
</body>
</html>
